<div class="row">
  <div class="col-md-6 mx-auto my-3">
    <h3>一覧</h3>
    <table class="table">
      <tbody>
        <% @methods.each do |method| %>
          <tr>
            <th><%= method.group_i18n %></th>
            <th><%= method.name %></th>
            <th>
              <div>
                <a data-toggle="modal" data-target="#testModal">
                  <i class="fas fa-pen"></i>
                </a>
              </div>
              <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">編集画面</h4>
                        </div>
                        <div class="px-3">
                          <%= render "form", method: method %></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto my-3">
    <%= render "form", method: @method %>
  </div>
</div>